*{
    margin: 0 10px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body{
    display: flex;
    flex-direction: row;/* alinear elementos en fila*/
    justify-content: center;/* alinear eje principal*/
    align-items: center;/* alinear elementos de la fila*/
    height: 100vh;/**/
}
.form-container{
    border: 1px solid green;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
.form-container h2{
    text-align: center;


}
.form-group input{
    border: 1px solid #ccc;
    padding: 3px;
    
}
.form-container label{
    display: block;
    padding: 4px;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;


}
.info-container{
    border: 1px solid green;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    
}
.info-container span{
    display: block;
}